
<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :flight_id %>
    <%= f.hidden_field :date %>
    <%= f.hidden_field :passengers_num, value: @passengers_num %>
  </div>

  <div>
    <% @passengers_num.to_i.times do |p| %>
      <%= p +1 %>
      <%= simple_form_for :passengers do | sub_form |%>
        <%= sub_form.label :name %>
        <%= sub_form.text_field :name %>
        <%= sub_form.label :email %>
        <%= sub_form.text_field :email %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
