<br>
<br>

<%= render 'flights/flight', flight: @booking.flight %>
<h3 id='confirmation-display'>Confirmation Number: <%= @booking.confirmation %></h3>

<% @booking.passengers.each do |passenger| %>
  <span><%= @booking.flight.origin.code %></span>
  <span><%= @booking.flight.destination.code %></span>
  <div><%= passenger.formatted_name_short %></div>
  <div><%= @booking.flight.formatted_flight_number %></div>
  <div><%= @booking.flight.origin.code %></div>
  <div><%= @booking.flight.destination.code %></div>
  <div><%= passenger.formatted_name_long %></div>
  <div><%= @booking.flight.formatted_flight_number %></div>
  <div><%= @booking.flight.boarding_time %></div>
  <div><%= @booking.flight.formatted_time %></div>
  <div><%= @booking.flight.boarding_time %></div>
  <div><%= @booking.flight.formatted_time %></div>
<% end %>

